html {
	font-size: 100%;
	height: 100%;
}

a { 
	color: inherit;
	font-family: inherit;
	text-decoration: none;
} 

a:hover { 
	color: inherit;
	text-decoration: none;
	cursor:pointer; 
} 

* {
  box-sizing: border-box;
}

/* VARIABLES */

:root {
  --primary-color: #482d69;
  --secondary-color: #80c5a5;
  --third-color: #ededed;
  --fourth-color: #ef7e5f;
}


/* TEXT */

h1 {
	font-family: Heebo, Arial;
	font-weight: 900;
	font-size: 4rem;
	text-transform: uppercase;
	line-height: 3.2rem;
	color: var(--secondary-color);
	margin: 0px;
}

h2 {
	font-family: Heebo, Arial;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 2rem;
	color: var(--secondary-color);
	margin: 0px;
}

h3 {
	font-family: Poppins, Arial;
	font-weight: 400;
	font-size: 1.3rem;
	margin: 0px;
}

h4 {
	font-family: Poppins, Arial;
	font-weight: 400;
	font-size: 0.9rem;
	margin: 0px;
}

h5 {
	font-family: Poppins, Arial;
	font-weight: 400;
	font-size: 0.8rem;
	color: var(--third-color);
	margin: 0px;
}

p {
	font-family: Poppins, Arial;
	font-weight: 300;
	line-height: 1.4em;
	margin: 0px;
}

/* BUTTONS */

.button {
	background-color: transparent;
	color: var(--third-color);
	border: 1px solid var(--fourth-color);
	width: 10vw;
	margin: 0px 10px;
	border-radius: 150px;
	cursor: pointer;
}

.b2 {
	background-color: var(--third-color);
	color: var(--fourth-color);
	border: 1px solid var(--third-color);
}

.b3 {
	border: 1px solid var(--third-color);
	border-radius: 0px;
	width: 90%;
	padding: 10px;
	margin: 20px;
}

.button:hover {
	background-color: var(--fourth-color);
	color: var(--third-color);
	border: 1px solid var(--fourth-color);
	width: 10vw;
	margin: 0px 10px;
	border-radius: 150px;
}

.b3:hover {
	border-radius: 0px;
	width: 90%;
	padding: 10px;
	margin: 20px;
}

/* GRID */

body {
	background-color: var(--primary-color);
	margin: 1vh;
    padding: 0;
	height: 98vh;
	display: grid;
	grid-template-columns: 2fr 4fr 5fr auto 5fr 4fr 2fr;
	grid-template-rows: 8% 85% 5%;
	grid-template-areas: 
    "header header header header header header header"
    ". main main main main main ."
    ". . footer footer footer . .";
    column-gap: 1%;
  	row-gap: 1%;
  	overflow: hidden;
}

/* HEADER */

header {
	height:;
	display: flex;
	justify-content: space-between;
	padding: 5px 20px;
	grid-area: header;
	align-items: center;
	align-content: center;
}

#logo {
	height: 100%;
	line-height: 100%;
	align-self: center;
	cursor: pointer;
}

#logo img {
	grid-area: logo;
	height: 100%;
	width: auto;
	vertical-align: middle;
	align-self: center;color: blacl;
}

nav {
	align-items: center;
}

/* MAIN */

main {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;
	grid-template-areas: 
    "content1 content2"
}

.content1 {
	grid-area: content1;
	align-self: center;
}

#underline {
	margin: 10px 0px;
	height: 2px;
	background-color: var(--fourth-color);
}

/* HOME */

#home {
	display: block;
}

/* ABOUT */

#about {
	display: none;
}

#introduction {
	margin-bottom: 15px;
}

/* PROJECTS */

.projects {
	display: none;
}

#display-projects {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
    "left right"
    column-gap: 1%;
  	row-gap: 1%;
}

#project1 {
	grid-area: left;
}

#project2 {
	grid-area: right;
}

.content2 {
	grid-area: content2;
	margin: 20px;
	width: 100%;
	text-align: center;
}

#project-image {
	width: 90%;
	max-height: 288px;
	object-fit: cover;
	border-radius: 20px;
}

#project-name {
	padding: 10px;
}

#project-blurb {
	padding: 0px 20px;
}

#project-demo {
	padding: 10px;
}

#projectOne {
	display: block;
}

#projectTwo {
	display: none;
}

#projectThree {
	display: none;
}

#projectFour {
	display: none;
}

/* CONTACT */

#contact {
	display: none;
}

#contact form {
	display: flex:
	flex-direction; columns: 
}

.contact-form {
	background-color: #fff;
	color: var(--third-color);
	border: 1px solid var(--fourth-color);
	border-radius: 5px;
	margin-bottom: 2vh;
}

::-webkit-input-placeholder {
	color: var(--fourth-color);
	font-family: Poppins, Arial;
	font-weight: 400;
	font-size: 1em;
}

input, select, textarea{
    	color: var(--fourth-color);
	font-family: Poppins, Arial;
	font-weight: 400;
	font-size: 1em;
}

#your-name{
	width: 20vw;
}

#your-email{
	width: 20vw;
}

#your-message{
	height: 30vh;
	width: 50vw;
}

/* FOOTER */

footer {
	grid-area: footer;
	text-align: center;
}
